/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
/lib/humpass/humpass.dat
/.idea/workspace.xml
/.idea/humpass.iml
/humpass.dat
/.idea/.rakeTasks
